<%- include('layout/admin_header') %>
<link rel="stylesheet" href="/css/patient.css">
<section class="table-section">
    <div class="table-responsive">
    <table class="donation-table" id="patient-table">
        <thead>
            <tr>
                <th>Sr.#</th>
                <th>Name</th>
                <th>Decease</th>
                <th>Age</th>
                <th>Blood</th>
                <th>Units</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Request Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                    <% patients.forEach((row,index)=>{ %>
                <tr >
                    <td><%= index+1 %></td>
                    <td><%= row.name %></td>
                    <td><%= row.disease %></td>
                    <td><%= row.age %></td>
                    <td><%= row.blood_type %></td>
                    <td><%= row.units %></td>
                    <td><%= row.gender %></td>
                    <td><%= row.contact %></td>
                    <td><%= row.request_date %></td>
                        <td>
                            <a href="/admin/edit_patient/<%= row._id%>" class="text-success "> <i class="fas fa-edit fa-lg mx-2 " style="color: #28a745; margin-right: 0.6em;"> </i></a>
                           
                            <form id="delete_patient_<%= row._id %>" action="/admin/delete_patient/<%= row._id %>?_method=DELETE" method="POST" style="display: none;">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                            
                            <a href="#" onclick="event.preventDefault(); document.getElementById('delete_patient_<%= row._id %>').submit();" class="text-danger">
                                <i class="fas fa-trash fa-lg mx-1" style="color:#F32013;"></i></a>    
                        
                        </td>
                </tr>

           <%   }) %>
        </tbody>
    </table>
    </div>
</section>
<%- include('layout/admin_footer') %>